body {
  height: 98vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form,
.contact {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100px;
}

.header,
.footer {
  border: 3px solid #000;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#date {
  text-align: right;
  margin-right: 5px;
}

.header-title {
  margin: 0;
}

.nav-list {
  display: flex;
  gap: 15px;
}

.footer h3 {
  margin: 0;
}

.contact {
  margin: 0 auto 20px auto;
}

@media screen and (min-width: 786px) {
  .contact {
    width: 40%;
  }
}

.header1 {
  font-size: 36px;
  text-align: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.input-form button {
  align-self: flex-end;
}

@media screen and (min-width: 786px) {
  .input-form {
    width: 40%;
  }

  .input-form button {
    align-self: flex-end;
    min-width: 10%;
  }
}

.list {
  border: 3px solid #000;
  border-radius: 8px;
  margin: 0 auto 20px auto;
}

@media screen and (min-width: 786px) {
  .list {
    width: 40%;
  }
}

.book-content {
  display: flex;
  font-size: 14px;
}

#book-list {
  padding-left: 0;
  border-radius: 3px;
  width: 100%;
}

#form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form.p {
  margin-left: 10px;
}

.form-h2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 18px;
}

.remove-button {
  border: 3px solid black;
  border-radius: 3px;
  margin-right: 10px;
}

.spandiv {
  display: flex;
  justify-content: center;
}

.form-line {
  display: flex;
  align-content: center;
  align-items: center;
  border-top: 1px solid black;
  margin-bottom: 10px;
  width: 70px;
}

.input.form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 98%;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input.btn {
  border: 2px solid black;
  border-radius: 8px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.background1 {
  background-color: #e0dcdc;
  align-self: center;
}

.background2 {
  background-color: white;
}

.hidden {
  display: none !important;
}

#list {
  width: 50%;
}
